.container-fluid

  / Breadcrumbs
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Dashboard
    %li.breadcrumb-item.active Overview

  / DataTables Example
  .card.mb-3#request
    .card-header
      %span.glyphicon.glyphicon-list-alt Weeks Requests
    .card-body
      .table-responsive
        %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
          %thead
            %tr
              %th Course
              %th Subject
              %th Created
              %th Status
          %tfoot
            %tr
              %th Course
              %th Subject
              %th Created
              %th Status
          %tbody
            - @requests.each do |request|
              %tr
                %td= request.course.name
                %td= request.subject
                %td= request.created_at.strftime("%Y-%m-%d")
                %td= request.meeting ? 'Matched' : 'Unmatched'
    .card-footer.small.text-muted Updated yesterday at 11:59 PM
/ /.container-fluid
